
.form{
  position: relative;
}
.form img{
  max-width: 450px;
}
.form .input{
  margin:2rem 0;
  
}
.container button{
  font-size: 2rem;
  margin: 2rem 0;
}
.input button{
  margin-bottom:1rem ;
  font-size: 2rem;
  
}
.input p{
  font-size: 3rem;
  font-weight: bold; 
}
.input input{
  width: 500px;
}
.form h1{
  position: absolute;

}
.form .top{
  left:30px;
}
.form .center{
  left:150px;
  top:180px;
}
.form .bottom{
  left:30px;
 top:350px;
}
@media screen and (max-width: 480px){
  .input p{
    font-size: 1.5rem;
    font-weight: bold; 
  }
  .input input{
    width: 250px;
  }
  .form h1{
    font-size: 3rem;
     
  }
  .form .top{
    left:20px;
  }
  .form .center{
    left:70px;
    top:100px;
  }
  .form .bottom{
    left:20px;
   top:180px;
}

.input button{
  font-size: 2.2rem;
}
}